/*==========门户首页样式========*/

/* =s Reset (by wuyue) */
body { background: #F2F2F2 !important}
a:hover { text-decoration: none}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
/* =e Reset */

/* =s base */
::-moz-selection{background:#FD5D3C; color:#fff;} 
::selection {background:#FD5D3C; color:#fff;} 
html,body{background:#fff;}
body{font-family:"microsoft yahei",Arial;color:#000; -webkit-font-smoothing:antialiased;}
i{font-style:normal;}
a{text-decoration: none;color: #333;border: 0;font-size: 100%;margin: 0;padding: 0;vertical-align: baseline;-webkit-transition: all 0.3s ease-in;-moz-transition: all 0.3s ease-in;transition: all 0.3s ease-in;-o-transition: all 0.3s ease-in;}
.clr:after{clear: both;content:'\0020';display: block;visibility:hidden;height:0;}
.clr{zoom:1;}
.hide {display:none;}
.thide{ text-indent: -9999px; position: absolute; left: -9999px;}
.inner { width: 1100px; margin: 0 auto; position: relative}
.inner9{width:900px;margin:0 auto;position: relative;}
.yahei{font-family: "microsoft yahei";}
/* =e base */

/*顶部文字新闻*/
.latestnews { margin: 0 0 10px 0; height: 45px; line-height: 45px; background: url(latestnews-title.png) no-repeat 0 10px; padding-left: 110px; /*text-indent: 120px;*/ position: relative;}
/*动态CSS-文字新闻-start*/
.latestnews a { font-size: 14px; color: #757474}
.latestnews ul { width: 900px; position: relative}
.latestnews ul li img { margin-right: 10px}
.latestnews ul li a+img { margin: 0 10px 0 20px}
/*动态CSS-文字新闻-end*/
.latestnews .msearch { position: absolute; top: 7px; right: 10px; background: url(msearch_bg.png) no-repeat; width: 209px; height: 31px;}
.latestnews .msearch .text-msearch { width: 150px; height: 17px; padding: 5px; position: absolute; left: 1px; top: 1px; border: none; font-size: 14px; font-family:'Microsoft YaHei','宋体';}
.latestnews .msearch .btn-msearch { width: 44px; height: 30px; background: url(btn-msearch.png) no-repeat center; position: absolute; top: 1px; right: 0px; border: none; cursor: pointer; color: #a5a4a4;}

/* s= 全局主体*/
.lph-main { padding: 20px 20px 30px 20px; margin-top: 20px; margin-bottom: 0; background: #FFFFFF}
/* e= 全局主体*/

/* s= 全局左侧*/
.lph-left { width: 788px; float: left}
/* e= 全局左侧*/

/* s= 全局右侧*/
.lph-right{width: 278px; float: right;}
.lph-right .right-box{margin-bottom: 30px;}
.lph-right .right-box-title{color: #333; font-size: 20px; height: 20px; line-height: 20px; padding-bottom: 13px; border-bottom: 2px solid #CBCBCB}
.lph-right .right-box-title h3{float: left;}
.lph-right .right-box-title a{float: right; font-size: 12px; padding-top: 5px; color: #9d9d9d;}
.lph-right .advertise{height: 176px; position: relative; overflow: hidden;}/*右侧专题*/
.lph-right .advertise .bd{width: 100%; height: 100%;}
.lph-right .advertise .bd li{float: left;}
.lph-right .advertise .bd li .ad-box{position: relative;}
.lph-right .advertise .bd li .ad-box .tits{position: absolute; left: 0; bottom: 0;width: 100%; height: 40px; padding-top: 35px; line-height: 40px; text-align: center; font-size: 14px; color: #fff;}
.lph-right .advertise .bd li .ad-box .tits{background-image: -webkit-linear-gradient(180deg, rgba(0,0,0,0.01) 5%, rgba(0,0,0,1) 100%);background-image: -moz-linear-gradient(180deg, rgba(0,0,0,0.01) 5%, rgba(0,0,0,1) 100%);background-image: linear-gradient(180deg, rgba(0,0,0,0.01) 5%, rgba(0,0,0,1) 100%);}
.lph-right .advertise .btn { position: absolute; top: 40px; width: 40px; height: 98px; background-image: url(lph-right-sprite.png); background-color: rgba(0,0,0,.7); background-repeat: no-repeat}
.lph-right .advertise .btn { -webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s}
.lph-right .advertise .btn.prev { left: -30px; opacity: 0; background-position:-112px 27px; border-radius: 0 6px 6px 0}
.lph-right .advertise .btn.next { right: -30px; opacity: 0; background-position:-154px 27px;border-radius: 6px 0  0 6px}
.lph-right .advertise:hover .btn.prev { left: 0; opacity: 1}
.lph-right .advertise:hover .btn.next { right: 0; opacity: 1}
.lph-right .kuaixun{}/*右侧快讯*/
.lph-right .kuaixun .kx-ul li { border-bottom:dotted 1px #CBCBCB}
.lph-right .kuaixun .kx-ul li.hov { border-bottom:dotted 1px #00AA98}
.lph-right .kuaixun .kx-ul li a { width: 100%; height: 100%; display: block;padding: 12px 0}
.lph-right .kuaixun .kx-ul li .time { float: left;width: 58px; height: 36px; line-height: 36px; text-align: center;color: #272322; font-size: 16px; background: #F2F2F2}
/*.lph-right .kuaixun .kx-ul li .time { -webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s}*/
.lph-right .kuaixun .kx-ul li:hover .time { color: #FFFFFF; background: #00AA98}
.lph-right .kuaixun .kx-ul li .tits { height: 36px; line-height: 18px; overflow: hidden; font-size: 13px; color: #3f3f3f; padding-left: 8px}
/*.lph-right .kuaixun .kx-ul li .tits { -webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s}*/
.lph-right .kuaixun .kx-ul li:hover .tits { color: #00AA98}
.lph-right .hottags{}/*右侧标签*/
.lph-right .hottags .ht-ul li{float: left; margin-right: 8px; margin-top: 12px}
.lph-right .hottags .ht-ul li a{float: left; padding:6px 12px; font-size: 14px; color: #7B7B7B; background:#E8E8E8; line-height: 1}
.lph-right .hottags .ht-ul li a.important{color: #fff;background: #4D4D4D}
.lph-right .hottags .ht-ul li a:hover{color: #fff;background: #00AA98}
.lph-right .hotauthor{}/*右侧作者*/
.lph-right .hotauthor .ha-ul li{padding: 12px 0 12px;border-bottom:dotted 1px #CBCBCB;}
.lph-right .hotauthor .ha-ul li .img { float: left; width: 76px; height: 76px; margin-left: 0}
.lph-right .hotauthor .ha-ul li .img img{width: 100%; height: 100%; border-radius: 100%}
.lph-right .hotauthor .ha-ul li .word { padding-left: 90px}
.lph-right .hotauthor .ha-ul li .word .name{font-size: 16px;  color: #272322;}
.lph-right .hotauthor .ha-ul li .word .count { font-size: 12px; color: #b8b8b8; line-height: 25px}
.lph-right .hotauthor .ha-ul li .word .des { font-size: 12px; color: #888; height: auto; line-height: 16px; overflow: hidden}
.lph-right .hotauthor .ha-ul li .word .btns { padding-top: 8px}
.lph-right .hotauthor .ha-ul li .word .btns a{float: left; width: 35px; height: 25px;margin-right: 25px;background-image: url(lph-right-sprite.png); background-repeat: no-repeat;}
.lph-right .hotauthor .ha-ul li .word .btns a{-webkit-transition: all 0;-o-transition: all 0;-moz-transition: all 0;transition: all 0;}
.lph-right .hotauthor .ha-ul li .word .btns a.weibo{background-position: 0 0;}
.lph-right .hotauthor .ha-ul li .word .btns a.weibo:hover{background-position: 0 -35px;}
.lph-right .hotauthor .ha-ul li .word .btns a.weixin{background-position: -35px 0; position: relative;}
.lph-right .hotauthor .ha-ul li .word .btns a.weixin:hover{background-position: -35px -35px;}
.lph-right .hotauthor .ha-ul li .word .btns a.weixin .aut-ewm{position: absolute;z-index: 2;display: none;opacity: 0; top: 20px; left: -45px; width: 110px; height: 110px; box-shadow: 0px 0px 5px #888;}
.lph-right .hotauthor .ha-ul li .word .btns a.weixin .aut-ewm{-webkit-transition: all .2s ease-in;-o-transition: all .2s ease-in;-moz-transition: all .2s ease-in;transition: all .2s ease-in;}
.lph-right .hotauthor .ha-ul li .word .btns a.weixin .aut-ewm i{display: block;width: 11px;height: 7px;position: absolute;top: -7px;left: 50px;background: url(lph-right-sprite.png) 0 -70px;}
.lph-right .hotauthor .ha-ul li .word .btns a.weixin .aut-ewm.show{ opacity: 1; top: 40px;}
.lph-right .hotauthor .ha-ul li .word .btns a.email{background-position: -70px 0;}
.lph-right .hotauthor .ha-ul li .word .btns a.email:hover{background-position: -70px -35px;}
.lph-right .pbzttab{padding-top: 5px;}
.lph-right .pbzttab .pbz-hd { position: relative}/*右侧评论专题*/
.lph-right .pbzttab .pbz-hd a { float: left; width: 50%; line-height: 1; text-align: center; font-size: 17px; color: #888; padding: 10px 0; background: #F2F2F2}
.lph-right .pbzttab .pbz-hd a.cur { color: #333333; background: none}
.lph-right .pbzttab .pbz-hd i{display: block; /*width: 11px; height: 7px;*/ position: absolute; top: -2px; /*left: 62px;*/ /*background: url(lph-right-sprite.png) 0 -70px;*/ width: 50%; height: 2px; left: 0; background: #00AA98; }
.lph-right .pbzttab .pbz-bd .comment { padding: 5px 0 0 0}
.lph-right .pbzttab .pbz-bd .comment li { padding: 10px 5px 10px 0; border-bottom: 1px dotted #CBCBCB}
.lph-right .pbzttab .pbz-bd .comment li .img{float: left;}
.lph-right .pbzttab .pbz-bd .comment li .img img{border-radius: 100%;}
.lph-right .pbzttab .pbz-bd .comment li .word{ padding-left: 60px;}
.lph-right .pbzttab .pbz-bd .comment li .word .top{overflow: hidden; height: 46px;}
.lph-right .pbzttab .pbz-bd .comment li .word .name{ font-size: 14px; color: #888888; height: 20px; line-height: 20px; overflow: hidden; }
.lph-right .pbzttab .pbz-bd .comment li .word .name a{color: #00AA98; padding-right: 5px;}
.lph-right .pbzttab .pbz-bd .comment li .word .tits{height: 20px; line-height: 20px;  font-size: 12px; overflow: hidden; padding-top: 5px;}
.lph-right .pbzttab .pbz-bd .comment li .word .tits a{color: #b5b5b5;}
.lph-right .pbzttab .pbz-bd .comment li .btm{color:#272322; font-size: 12px; margin-top: 10px; max-height: 60px; line-height: 20px; overflow: hidden;}
.lph-right .pbzttab .pbz-bd .comment li .btm i{width: 17px; height: 13px; background: url(lph-right-sprite.png); display: inline-block;}
.lph-right .pbzttab .pbz-bd .comment li .btm i.pre{background-position: -25px -72px; margin-right: 5px;}
.lph-right .pbzttab .pbz-bd .comment li .btm i.nxt{background-position: -58px -71px; margin-left: 5px;}
.lph-right .pbzttab .pbz-bd .zhuanti { display: none}
.lph-right .pbzttab .pbz-bd .zhuanti li { padding: 15px 0; margin: 0; border-bottom: 1px dotted #CBCBCB}
.lph-right .pbzttab .pbz-bd .zhuanti ul { padding: 5px 0}
.lph-right .pbzttab .pbz-bd .zhuanti li:hover { background: #F7F7F7}
.lph-right .pbzttab .pbz-bd .zhuanti li .img { float: left}
.lph-right .pbzttab .pbz-bd .zhuanti li .word { padding-left: 120px; padding-right: 5px}
.lph-right .pbzttab .pbz-bd .zhuanti li .word h4{color: #333333; font-size: 14px; line-height: 35px; height: 35px; overflow: hidden;}
.lph-right .pbzttab .pbz-bd .zhuanti li .word p{color: #888; font-size: 12px; line-height: 20px; height: 40px; overflow: hidden;}
.lph-right .express{}/*右侧速递*/
.lph-right .express .right-box-title { border-bottom-color: #000000}
.lph-right .express .right-box-title h3 { color: #333333}
.lph-right .express .right-box-title { color: #333333}
.lph-right .express .ep-ul { padding: 5px 0 10px 0; border: 0; background: none}
.lph-right .express .ep-ul li { padding: 15px 0; border-bottom: 1px dotted #CBCBCB; overflow: hidden}
.lph-right .express .ep-ul li .img { float: left; width: 90px; height: 60px}
.lph-right .express .ep-ul li .word { padding-left: 100px}
.lph-right .express .ep-ul li .word .name { font-size: 15px; color: #272322; color: #333;height: 20px;height: 40px;line-height: 20px; overflow: hidden}
.lph-right .express .ep-ul li .word .name { -webkit-transition: all .2s ease-in;-o-transition: all .2s ease-in;-moz-transition: all .2s ease-in;transition: all .2s ease-in}
.lph-right .express .ep-ul li .word .name { padding-left: 5px}
.lph-right .express .ep-ul li .word .name:hover { color: #00AA98}
.lph-right .express .ep-ul li:hover .word .des { font-size: 12px; color: #888; height: 40px; line-height: 20px; overflow: hidden; margin-top: 5px;display: none}
.lph-right .fengshenb .fsb-slide { height: 60px; padding-top: 10px; position: relative; }/*封神榜*/
.lph-right .fengshenb .fsb-slide .fs-box{width: 216px; margin: 0 auto;}
.lph-right .fengshenb .fsb-slide .fs-box .img{ float: left;}
.lph-right .fengshenb .fsb-slide .fs-box .img img{ border-radius: 10px;}
.lph-right .fengshenb .fsb-slide .fs-box .word{ padding-left: 70px;}
.lph-right .fengshenb .fsb-slide .fs-box .word .name{ font-size: 16px;color: #272322; height: 32px; line-height: 32px; overflow: hidden; }
.lph-right .fengshenb .fsb-slide .fs-box .word .des{font-size: 12px; color: #888; height: 20px; line-height: 20px; overflow: hidden;}
.lph-right .fengshenb .btn{position: absolute; top: 0px; width: 30px; height: 100%; background-image: url(lph-right-sprite.png); background-repeat: no-repeat;}
.lph-right .fengshenb .btn.prev{left: 0; background-position:-113px -49px;}
.lph-right .fengshenb .btn.next{right: 0; background-position:-147px -48px;}
.lph-right .weixinewm { border: solid 1px #E6E6E6}/*微信二维码*/
.lph-right .weixinewm.weixinewm-fixed { position: fixed; top: 76px; z-index: 7;  width: 276px; background: #FFFFFF}
.lph-right .weixinewm .we-img { width: 230px; margin: 0 auto; padding: 15px 0}

/*知趣广告*/
.zhiqu-ads { display: none}
.zhiqu-ads ul { width: 288px; margin-top: 15px}
.zhiqu-ads li { width: 134px; height: 134px; margin: 0 10px 10px 0}
.zhiqu-ads .odd { float:left}
.zhiqu-ads img { display: block}
.zhiqu-ads .even { float: right}
.zhiqu-ads-header .reflash { padding-top: 0;  position: relative; top: -3px}
.zhiqu-ads-header i { width: 17px; height: 17px; background: url(lph-right-sprite.png) 0px -98px; display: inline-block; position: relative; top:4px; margin-right: 5px}
.zhiqu-ads-src{ font-size: 12px; text-align: right; color: #888;}
.zhiqu-ads-src a{ font-weight: bold;color: #888;}
.zhiqu-ads-src a:hover{color:#00AA98;}
.zhiqu-ads-header i.active{
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

/* e= 全局右侧*/


/*顶部轮播*/
.index-main .index-left .idx-hotlists { background: none}
.m-slide { position: relative; height: 365px; overflow: hidden}
.m-slide .img { float: left; position: relative }
.m-slide .img img { display: block; width: 638px; height: 365px}
.m-slide .img li { display: none; position: absolute; left: 0; top: 0}
.m-slide .tab, .m-slide .tab2 { float: right}
.m-slide .tab li { border: 4px solid #fff; border-right:0;  font-size: 13px; font-weight: bold; color: #FFFFFF; margin-top: -2px}
.m-slide .tab2 li { border: 4px solid #fff; width: 128px; height: 77px;  font-size: 13px; font-weight: bold}
.m-slide .tab2 li img { width: 128px; height: 77px}
.m-slide .tab li+li { margin-top: 4px}
.m-slide .tab2 li+li { margin-top: 9px}
.m-slide .tab li .color1 { background-color: #75CFD9; width: 110px; height: 68px; padding: 7px 10px}
.m-slide .tab li .color2 { background-color: #E4A17E; width: 110px; height: 68px; padding: 7px 10px}
.m-slide .tab li .color3 { background-color: #D0838C; width: 110px; height: 68px; padding: 7px 10px}
.m-slide .tab li .color4 { background-color: #7CAA77; width: 110px; height: 68px; padding: 7px 10px}
.m-slide .tab .on {}
.m-slide .tab .on .color1 { background-color: #08a7b9}
.m-slide .tab .on .color2 { background-color: #e5611d}
.m-slide .tab .on .color3 { background-color: #c75663}
.m-slide .tab .on .color4 { background-color: #588753}
.m-slide .tab2 .on { border: 4px solid #00AA98}
.m-slide #ifocus_tx { position:absolute; left:15px; bottom:10px; color: #FFFFFF}
.m-slide #ifocus_tx ul li{ display: none}
.m-slide #ifocus_tx ul li a{ color: #FFFFFF; font-size:17px; font-weight: bold}
.m-slide .infos { position: absolute; width: 638px; height: 45px; line-height: 45px; bottom: 0; left: 0; background: url(black.png) repeat 0 0}
.m-slide .infos a { padding: 0 0 0 15px; color: #FFFFFF; font-size: 17px; font-weight: bold}

/* s= 公用分页1*/
.lph-paging1{margin-top: 20px;}
.lph-paging1 a{width: 386px; height: 57px; background: #00AA98; text-align: center; line-height: 57px; font-size:16px; color: #fff; font-weight: bold; border-radius: 3px; }
.lph-paging1 a:hover{background: #D85027; color: #fff; }
.lph-paging1 .pr{float: left;}
.lph-paging1 .nt{float: right;}
.lph-paging1 .pr.disabled,.lph-paging1 .nt.disabled{background: #ECECEC; color: #737373; cursor: not-allowed;}
.lph-paging2{height: 26px;margin: 20px auto; padding-top: 0px;}
.lph-paging2 a,.lph-paging2 span{float: left;padding: 5px 10px; text-align: center; font-size: 13px; color: #fff; background: #999999;text-decoration: none;margin-right: 8px;}
.lph-paging2 span.act{background: #00AA98;}
.lph-paging2 a:hover{background: #00AA98;}
/* e= 公用分页1*/


/* s= 公用遮罩层*/
.lph-overlay{position:absolute;display: none;background: rgba(0,0,0,0.4);top: 0;left: 0;z-index: 1000;/* background: #eee;*/}
/* e= 公用遮罩层*/

/* s= 公用评论（旧代码）*/
.lp-comment{width: 100%; margin: 0 auto; padding-top: 28px; font-family: "microsoft yahei";}
.lp-comment .h2{height: 30px; line-height: 30px;}
.lp-comment .h2 h2{font-size: 24px; color: #D55252;font-weight:normal; float: left;}
.lp-comment .h2 strong.h2-tip{font-size: 12px;  margin-left: 8px; float:left; color:#505050;padding-top: 4px;font-family: "nsimsun";}
.lp-comment .h2 strong.h2-tip a{color:#57a9b8; font-size: 12px; text-decoration: none; padding: 0 5px;}
.lp-comment .submit{margin-top: 20px; margin-bottom: 20px;}
.lp-comment .submit .text{padding-right: 32px;}
.lp-comment .submit textarea{resize:none;width: 100%; height: 60px; color: #999999; font-size: 14px; border: solid 1px #E5E5E5; padding: 15px;}
.lp-comment .submit textarea:focus{outline: solid 1px #FFB7B7;}
.lp-comment .submit .sub{padding-top: 14px; font-size: 12px}
.lp-comment .submit .sub button{font-size: 14px; color: #fff; padding: 10px 30px; background: #D55252; border: 0; cursor: pointer; float: right; display: inline;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;transition:all .3s ease-out;}
.lp-comment .submit .sub button:hover{background: #E05F5F;}
.lp-comment .submit .sub button.disabled{background: #FAADAD; cursor: default;}
.lp-comment .words{padding-bottom: 20px;}
.lp-comment .words h3{font-size: 14px; color: #999999; height:40px; line-height: 40px; border-bottom: solid 1px #ECECEC; position: relative;margin-top: 4px; font-weight:normal;}
.lp-comment .words h3 span{color: #A2442F; padding: 0 3px;}
.lp-comment .words h3 i{display: block; width: 13px; height: 8px; background: url("lph-comment-sprite.png") no-repeat -250px 0px; position: absolute; bottom: -7px; left: 32px;}
.lp-comment .words .comment-say{}
.lp-comment .words .comment-say-li{padding: 20px 0 8px; border-bottom: dashed 1px #ECECEC;}
.lp-comment .words .comment-say-li.last{border-bottom: none;}
.lp-comment .words .comment-say .csl-img{width: 40px; float: left;/* margin-right: 22px;*/}
.lp-comment .words .comment-say .csl-body{/*width: 538px;float: left;*/ padding-left: 60px;}
.lp-comment .words .comment-say .csl-body .cont{color: #666666; font-size: 14px; padding-bottom: 10px;word-break:break-all;word-wrap:break-word;overflow: auto; }
.lp-comment .words .comment-say .csl-body .cont a.name{color: #B66257; text-decoration: none;}
.lp-comment .words .comment-say .csl-body .time{font-size: 12px; color: #cccccc; height: 14px; line-height: 14px;}
.lp-comment .words .comment-say .csl-body .time span{padding-right: 12px; float: left;}
.lp-comment .words .comment-say .csl-body .time a.respond-coin{float: left; width:15px; height: 14px;background: url("lph-comment-sprite.png") no-repeat -200px 0px;}
.lp-comment .words .comment-say .csl-respond{padding: 10px 0 0px;}
.lp-comment .words .comment-say .comment-respond-li{padding-bottom:12px; }
.lp-comment .words .comment-say .crl-img{width: 30px; float: left;/* margin-right: 18px;*/}
.lp-comment .words .comment-say .crl-body{/*width: 490px;float: left;*/ padding-left: 45px;}
.lp-comment .words .comment-say .crl-body .cont{color: #666666; font-size: 14px; padding-bottom: 10px;}
.lp-comment .words .comment-say .crl-body .cont a.name{color: #B66257; text-decoration: none;}
.lp-comment .words .comment-say .crl-body .time{font-size: 12px; color: #cccccc; height: 14px; line-height: 14px;}
.lp-comment .words .comment-say .crl-body .time span{padding-right: 12px; float: left;}
.lp-comment .words .comment-say .csl-body .respond-submit{display: none;}
.lp-comment .words .comment-say .csl-body .text{position: relative;}
.lp-comment .words .comment-say .csl-body .text input{border-radius: 2px; padding-right:10px; height: 37px; line-height: 14px;font-size: 14px;line-height: 37px\9; color: #5A5A5A;border:solid 1px #EEEEEE; background: #F7F7F7;}
.lp-comment .words .comment-say .csl-body .text input:focus{outline: solid 1px #FFB7B7;}
.lp-comment .words .comment-say .csl-body .text .tips{font-size: 14px; color: #999999;position: absolute; top: 10px; left: 10px;}
.lp-comment .words .comment-say .csl-body .text .tips a{padding: 0 5px;}
.lp-comment .words .comment-say .csl-body .sub button{cursor: pointer;width: 85px; height: 33px; color: #fff; font-size: 14px;background: #D55252;border: 0; outline: 0; float: right;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;transition:all .3s ease-out;}
.lp-comment .words .comment-say .csl-body .sub button:hover{background: #E05F5F;}
.lp-comment .words .comment-say .csl-body .sub button.disabled{background: #FAADAD; cursor: default;}
.lp-comment .words .comment-say .csl-body .sub{padding-top: 14px;}
.lp-comment .words .comment-say-more{height: 28px;background-color: #E0E0E0;background-repeat: no-repeat;background-position:  center center; color: #555; text-align: center;line-height: 28px; margin-top: 30px;}
.lp-comment .words .comment-say-more.loading{background-image: url("loading-comment.gif");}
.lp-comment .words .comment-say-more:hover{background-color: #cacaca;}
.lp-comment .words .comment-say-more span{cursor: pointer;}
.lp-comment .words .comment-say-more em,.lp-comment .words .comment-say-more span{display: none;}
.lp-comment span.emotionc {font-size: 12px;color: #666;;width: 42px;height: 20px;background: url(lph-comment-face.gif) no-repeat 2px 2px;padding-left: 21px;cursor: pointer; margin-right: 10px;}
.lp-comment span.emotionc:hover {background-position: 2px -28px;}
.lp-comment .qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.lp-comment .qqFace table td{padding:0px;}
.lp-comment .qqFace table td img{cursor:pointer;border:1px #fff solid;}
.lp-comment .qqFace table td img:hover{border:1px #0066cc solid;}
/* s= 公用评论*/

.submission{ height: 75px; line-height: 75px; border-radius: 3px; text-align: center; background:#f0713f; display: block; color: #fff; font-size: 24px; text-shadow:0px 2px 1px rgba(0,0,0,.16);}
.submission:hover{background:#ed6436;}
.submission i{width:36px; height: 36px; background: url(lph-right-sprite.png) no-repeat 0px -127px; position: relative; top:9px; margin-right: 3px; display: inline-block;}
.lp-sl-pages a, .lp-sl-pages span{
	border:1px solid #ccc;
	margin:0 2px;
	padding:0 10px;
	height: 28px; 
	line-height: 28px;
	display: inline-block;
}
.lp-sl-pages span{
	color: #fff;
	background:#00AA98;
}

/*s= 公用提示层*/
.lph-tips-tip1{display: none;z-index: 999;padding: 15px 50px; font-size: 14px; color: #666666; background:#FAFAFA;  line-height: 1; border: solid 2px #EFEFEF; position: absolute; top: 0; border-radius: 2px; font-family: 'microsoft yahei';}
/*e= 公用提示层*/

.index-main{}
.index-main .index-left{}


/*顶部热点链接*/
.index-main .index-left .idx-hotlists .hls-links { padding-left: 519px; padding-right: 15px}
.index-main .index-left .idx-hotlists .hls-links .tips { padding-top: 15px;}
.index-main .index-left .idx-hotlists .hls-links li { padding: 10px 0; border-bottom:dotted 1px #CBCBCB}
.index-main .index-left .idx-hotlists .hls-links li:last-child { border-bottom: 0}
.index-main .index-left .idx-hotlists .hls-links li:hover { /*background: #efefef;*/}
.index-main .index-left .idx-hotlists .hls-links li.last { border-bottom: 0}
.index-main .index-left .idx-hotlists .hls-links li h4 { width: 250px; color: #272322; font-size: 18px; font-weight: bold; height: 28px; line-height: 28px; overflow: hidden; }
.index-main .index-left .idx-hotlists .hls-links li .des { color: #888888; font-size: 12px; height: 18px; line-height: 18px; overflow: hidden; }
/*首页文章布局，（文章列表采用base.css 公用部分）*/
.index-main .index-left .index-pageList{margin-top:30px; }


/*精选导航*/
.index-main .index-left .idx-selLead{padding-top: 30px;}
.index-main .index-left .idx-selLead .tips{height: 37px;border-bottom: solid 2px #D6D6D6;position: relative;line-height: 37px;margin-bottom: 6px;}
.index-main .index-left .idx-selLead .tips h4 {position: absolute;font-size: 26px;line-height: 1;left: 0;top: 0;padding-bottom: 11px;border-bottom: solid 2px #666666;}
.index-main .index-left .idx-selLead .items{float: left;width: 365px;margin-top: 15px;}
.index-main .index-left .idx-selLead .items.pr15{padding-right:15px;}
.index-main .index-left .idx-selLead .items.pb15{padding-bottom:15px;}
.index-main .index-left .idx-selLead .items.pl15{padding-left: 15px;}
.index-main .index-left .idx-selLead .items.mr13{margin-right: 13px;}
.index-main .index-left .idx-selLead .items.ml14{margin-left:  14px;}
.index-main .index-left .idx-selLead .items.items-borb{border-bottom: 1px solid #e8e8e8;}
.index-main .index-left .idx-selLead .items-line{float: left;margin-top: 15px;width: 1px;height: 112px;background-color: #e8e8e8;}
.index-main .index-left .idx-selLead .items .pic{float: left;}
.index-main .index-left .idx-selLead .items .pic img{display: block;}
.index-main .index-left .idx-selLead .items .txt{overflow: hidden;padding-left: 14px;}
.index-main .index-left .idx-selLead .items .txt h1{height: 40px;line-height: 20px;overflow: hidden;}
.index-main .index-left .idx-selLead .items .txt h1 a{font-size: 15px;color: #272322;}
.index-main .index-left .idx-selLead .items:hover h1 a{color: #00AA98;}
.index-main .index-left .idx-selLead .items .txt p{height: 36px;line-height: 18px;overflow: hidden;color: #888;font-size: 12px;padding-top:12px; }


/* s= 公用文章列表*/
.lph-pageList{}
.lph-pageList .tips{ height: 37px; border-bottom: solid 2px #D6D6D6; position: relative; line-height: 37px;}
.lph-pageList .tips h4{position: absolute; font-size: 28px; font-weight: bold; line-height: 1; left: 0; top: 0; padding-bottom: 9px; border-bottom: solid 2px #666666;}
.lph-pageList .tips h4 span.yel{color: #00AA98;}
.lph-pageList .tips h4 span.gra{color: #333;}
.lph-pageList .tips .count{height: 100%; position: absolute; right: 0; bottom: 0px; background: #F2F2F2; padding: 0 10px; color: #333; font-size: 18px;}
.lph-pageList .tips .count i{float: left; width: 20px; height: 22px; margin-top: 8px; margin-right: 5px; background: url(lph-pageList-sprite.png) no-repeat 0px 0px;}
.lph-pageList .tips .count strong{color: #00AA98; font-weight: bold;}
.lph-pageList .tips .count em{position: absolute;right: 0;top: 0;background: url(lph-pageList-sprite.png) no-repeat -39px 0;width: 8px;height: 8px;}
.lph-pageList .wrap li.pbox{padding: 30px 0; border-bottom: solid 1px #EEEEEE;}
.lph-pageList .wrap li.pbox .img{float: left; position: relative; }
.lph-pageList .wrap li.pbox .img a.sort { padding: 5px 12px; font-size: 14px; color: #fff; line-height: 1; position: absolute; top: 0; left: 0; background: url(black.png) repeat 0 0}
.lph-pageList .wrap li.pbox .word{ padding-left: 235px; padding-right: 10px; }
.lph-pageList .wrap li.pbox .word h2{ color: #272322; font-size: 20px; font-weight: bold; }
.lph-pageList .wrap li.pbox .word h2{-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s; }
.lph-pageList .wrap li.pbox:hover .word h2{ color: #00AA98;}
.lph-pageList .wrap li.pbox .word .des { font-size: 13px; color: #666666; line-height: 1.6; padding-top: 15px}
.lph-pageList .wrap li.pbox .word .info{height: 26px; line-height: 26px;font-size: 13px; color: #b8b8b8; padding-top: 15px;}
.lph-pageList .wrap li.pbox .word .info .tags{float: left; height: 100%; width: 200px; overflow: hidden;}
.lph-pageList .wrap li.pbox .word .info .tags i{float: left;background: url(lph-pageList-sprite.png) no-repeat -30px -43px;width: 18px;height: 13px; margin-top: 7px; }
.lph-pageList .wrap li.pbox .word .info .tags a{float: left; font-size: 13px; color: #b8b8b8; margin-left:5px;}
.lph-pageList .wrap li.pbox .word .info .tags a:hover{color: #00AA98;}
.lph-pageList .wrap li.pbox .word .info .time{float: right;}
.lph-pageList .wrap li.pbox .word .info .time i{float: left; margin-right: 5px;;background: url(lph-pageList-sprite.png) no-repeat -2px -42px;width: 14px;height: 14px; margin-top: 6px; }
.lph-pageList .wrap li.pbox .word .info .aut{float: right; margin-right: 25px;}
.lph-pageList .wrap li.pbox .word .info .aut img{float: left; margin-right: 5px; border-radius: 100%;}
.lph-pageList .wrap li.pbox .word .info .aut span{float: left;font-size: 13px; color: #b8b8b8;width: auto;height: 26px;white-space: nowrap; overflow:hidden; text-overflow:ellipsis;}
.lph-pageList .wrap li.pbox .word .info .aut span:hover{color: #00AA98;}
/* e= 公用文章列表*/


.read_more { height: 50px; line-height: 50px; margin: 25px 0 0 0; text-align: center}
.read_more a { display: block; padding: 0; font-size: 20px; font-weight: bold; color: #666666; background: #F0F0F0}
.read_more a:hover { color: #333333; background: #E9E9E9}


/* 达人 */
.daren { position: relative; padding: 20px; overflow: hidden; background: #F3F3F3}
.nav-font { font-family:"Microsoft YaHei",SimHei;font-size:22px;color:#333;font-weight:200}
.daren .nav-font { font-size: 16px;margin-bottom: 15px; line-height: 16px; height: 16px}
.daren .nav-font em { color:#8e8e8e;font-size:12px;display:inline-block;height:35px;margin-left:10px}
span.daren-new-icon { background: url(new.png) no-repeat; width:36px;height:36px;position:absolute;display:inline-block; top: -1px; right:  -1px}
.home-daren-list-wrap { width: 225px; overflow: hidden}
.home-daren-list { width: 235px}
.home-daren-list li { width: 40px;height: 40px;line-height: 40px;overflow:hidden;text-align:center;margin:0 6px 5px 0;float:left}
.home-daren-list li.usercard img { width: 40px; height: 40px}
.daren-star-avatar a{width:70px;height:70px;display:block}
.home .daren-star-icon{width:27px;height:27px;position:absolute;top:0;right:0;background-position:0 -1140px}
.daren{color:#666;margin-bottom:15px}
.home-daren-list li.home-daren-list-more,.home-daren-list li.home-daren-list-more a { width: 86px; height: 40px; line-height: 40px; display: block; color: #FFFFFF; background: #00AA98}
.home-daren-list li.home-daren-list-more a:hover { text-decoration: none; color: #FFFFFF}
.home-daren-list li.home-daren-list-more a * { _position: relative; _top: 7px}


/* 合作伙伴及友情链接 */
.main .mainother { width: 1150px; padding: 0; background-color: #FFFFFF; margin: 0 auto; overflow: hidden; padding-bottom: 20px; margin-top: 15px}
.mainother .partners, .mainother .links { overflow: hidden}
.mainother .partners { width: 1120px; height: 168px}
.mainother .partners .partnerstitle { background: url(partnerstitle.png) no-repeat; width: 1100px; height: 51px; margin-top: 20px}
.mainother .partners .partnersimg { float: left; border: 1px solid #EEEDED; width: 129px; height: 54px; margin: 20px 5px 20px 2px}
.mainother .partners .partnersimg img { width: 129px; height: 54px}
.mainother .links .linkstitle { background: url(linkstitle.png) no-repeat; width: 1100px; height: 51px; margin-top: 15px}
.mainother .links ul li { float: left; height: 21px; font-size: 14px; padding: 5px 10px; overflow: hidden}
.mainother .links ul li a { color: #333333}
